/*Секция хедера*/
.header{
    background-color: #000;
    font-family: 'Nunito Sans Regular';
    font-size: 11px;
    line-height: 15px;
    height: 57px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.logo{
    color: #E3B873;
    text-transform: uppercase;
}

.nav-menu{
    display: none;
}

.button-block{
    display: none;
}

/*Секция про ремонт. Первая секция*/
.repair-wrapper{
    height: 476px;
    background: url(../img/repair_bg.png) no-repeat;
    background-size: cover;
}

.repair-title{
    font-family: 'Yeseva One Regular'; 
    text-transform: uppercase;
    font-size: 23px;
    line-height: 132.83%;
    margin-bottom: 16px;
}

.repair-title span{
    color: #E3B873;
}

.repair-block{
    width: 100%;
}

.repair-block p{
    font-size: 14px;
    line-height: 135.84%;   
    height: 94px;
    margin-bottom: 32px;
}

.btn{
    width: 100%;
    padding: 19px 70px;
}

.repair-btn{
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: none;
    margin-top: 26px;
}

/*Секция со слайдером про завершенный ремонт*/
.conpleted-block{
    display: block;
}

.conpleted-title{
    font-size: 22px;
    font-family: 'Yeseva One Regular'; 
    color: #E3B873;
    line-height: 138.6%;
    text-align: center;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 22px;
}

.completed-slider-title>p{
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.copleted-slider{
    position: relative;
}

.copleted-slider-item img{
    width: 100%;
    margin-bottom: 37px;
}

.completed-data {
    display: flex;
    flex-wrap: wrap;
}

.colplated-data-item{
    width: 50%;
    margin-bottom: 27px;
}

.colplated-data-item>h4{
    font-family: 'Yeseva One Regular'; 
    font-size: 14px;
    line-height: 138.6%;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 11px;
}

.colplated-data-item>p{
    font-size: 11px;
    line-height: 135.84%;
}

.slick-prev{
    display: none;
}

.arrow_prev{
    background-color: #E3B873;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: calc(60% - 80px);
    left: 14px;
    z-index: 2;
}

.arrow_prev img{
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
}

.slick-next{
    display: none;
}

.arrow_next{
    background-color: #E3B873;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: calc(60% - 80px);
    right: 14px;
    z-index: 2;
}

.arrow_next img{
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
}

.slider-cities{
    display: none;
}

.online-control .container{
    flex-direction: column;
}

.online-control-title{
    font-family: 'Yeseva One Regular';
    font-size: 22px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.online-control-img{
    position: relative;
    margin-bottom: 40px;
}

.online-control-img::before, .online-control-img::after{
    content: " ";
    position: absolute;
    width: 32px;
    height: 1.5px;
    background-color: #E3B873;
    top: 50%;
}

.online-control-img::before{
    left: -50px;
}

.online-control-img::after{
    right: -50px;
}

.online-control-video{
    position: relative;
    margin-bottom: 51px;
}

.online-control-video img{
    width: 100%;
}

.online-control-video::after{
    content: " ";
    position: absolute;
    background: url(../img/Polygon.png) center no-repeat;
    background-color: #E3B873;
    background-size: 33%;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.online-control-video::before{
    content: " ";
    position: absolute;
    background-color: #E3B873;
    width: 55px;
    height: 1.5px;
    bottom: -28px;
    left: 0;
    right: 0;
    margin: auto;
}

.online-control-desc{
    text-align: center;
    font-size: 11px;
    line-height: 169.8%;
    margin-bottom: 61px;
}

.online-control-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.online-form-item {
    display: flex;
    flex-direction: column;
}

.online-label-for-input{
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 6px;
}

.online-form-input{
    font-size: 14px;
    line-height: 138.72%;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
}

.online-form-input:nth-child(2){
    margin-bottom: 63px;
}

.online-form-input:nth-child(4){
    margin-bottom: 26px;
}

.online-form-input::placeholder{
    color: #FFFFFF;
}

.online-form-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.online-form-checkbox+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.online-form-checkbox+label::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    margin-right: 8px;
}

.online-form-checkbox:checked+label::before{
    background: url(../img/yes.svg) center no-repeat;
    background-color: #E3B873;
}

.online-label-checkbox{
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    margin-bottom: calc(62px - 25px);
}

.form-btn{
    font-family: 'Nunito Sans Regular';
    font-size: 13px;
    line-height: 27px;
    padding: 20px 124px;
    transform: translateY(50%);
}

.type-of-repair{
    background-color: #fff;
}

.repait-wrap{
    flex-direction: column;
    justify-content: center;
    color: #000;
    padding-top: calc(33px + 58px);
}

.type-of-repair-title{
    font-family: 'Yeseva One Regular';
    font-size: 22px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.type-of-repair-img{
    width: 27px;
    height: 28px;
    margin-bottom: 40px;
    position: relative;
}

.type-of-repair-img::before,
.type-of-repair-img::after{
    content: ' ';
    position: absolute;
    width: 32px;
    height: 1.5px;
    background-color: #E3B873;
    top: 0;
    bottom: 0;
    margin: auto;
}

.type-of-repair-img::before{
    left: -150%;
}

.type-of-repair-img::after{
    right: -150%;
}

.repair-item{
    position: relative;
    margin-bottom: 178px;
}

.repair-item-img {
    width: 100%;
}

.repair-desc {
    width: 60%;
    padding: 21px 47px 37px 31px;
    background-color: #fff;
    position: absolute;
    left: 0;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    bottom: -10%;
}

.repair-subtitle {
    font-size: 15px;
    line-height: 138.6%;
    color: #363636;
    font-family: 'Yeseva One Regular';
    margin-bottom: 10px;
    margin-bottom: 37px;
}

.repair-advanturies{
    font-size: 13px;
    line-height: 169.8%;
    color: #959595;
    margin-left: 15px;
}

.repair-advanturies li{
    list-style: armenian;
    list-style: disc;
}

.repair-desc-btn.btn {
    padding: 11px 19px;
    font-size: 15px;
    line-height: 138.6%;
    font-family: 'Yeseva One Regular';
    width: auto;
    position: absolute;
    bottom: -8%;
    left: 0;
}

@media (min-width: 1145px)
{
    .header{
        height: 83px;
    }
    
    .phone{
        margin-right: -100px;
    }

    .phone a{
        color: #E3B873;
        text-decoration: underline;
    }

    .nav-menu{
        display: block;
        width: 38%;
    }

    .nav-menu ul{
        display: flex;
        justify-content: space-between;
    }
    
    .button-block{
        display: block;
    }

    .header-btn{
        color: #fff;
    }

    /*Секция про ремонт. Первая секция*/
    .repair-wrapper .container{
        padding: 0 134px;
    }
    
    .repair-wrapper{
        height: 707px;
        margin-bottom: 107px;
    }

    .repair-title{
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 19px;
    }

    .repair-block{
        width: 50%;
    }

    .repair-block p{
        font-size: 22px;
        line-height: 36px;
        height: auto;
        margin-bottom: 41px;
    }

    .btn{
        width: 207px;
        height: 51px;
        padding: 19px 42px;
        font-size: 11px;
        line-height: 15px;
    }

    .repair-btn{
        margin-top: 0;
        margin-left: 20px;
    }

    /*Серкция со слайдером*/
    .conpleted {
        margin-bottom: 92px;
    }

    .conpleted-block .container{
        padding: 0 134px;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: 40% 56%;
        grid-template-rows: 68px 241px 241px;
        gap: 0px 50px;
        grid-template-areas:
            ". slider-cities"
            "completed-slider-title copleted-slider-item"
            "completed-data copleted-slider-item";
    }

    .copleted-slider-item {
        grid-area: copleted-slider-item;
    }

    .completed-slider-title {
        grid-area: completed-slider-title;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .completed-data {
        grid-area: completed-data;
        height: 162px;
    }

    .completed-slider-title p{
        text-align: inherit;
        font-size: 14px;
        line-height: 27px;
    }

    .completed-slider-title h2{
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        margin-bottom: 34px;
        width: 253px;
        text-align: inherit;
        height: 66px;
        margin-top: 0;
    }
    
    .colplated-data-item h4{
        font-size: 18px;
        line-height: 25px;
    }

    .colplated-data-item p{
        font-size: 13px;
        line-height: 21px;  
    }

    .arrow_prev{
        display: none !important;
    }

    .arrow_next{
        display: none !important;
    }

    .slider-cities{
        grid-area: slider-cities;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.3);
    }

    .slider-cities-active{
        color: #E3B873;
        position: relative;
    }

    .slider-cities-active::before{
        content: "";
        position: absolute;
        top: 22px;
        left: 0;
        width: 100%;
        height: 1px;
        color: #E3B873;
        background-color: #E3B873;
    }

    .slick-dots{
        bottom: -15px;
        width: auto;
        left: 40px;
    }

    .slick-dots li{
        background: rgba(255, 255, 255, 0.3);
        border-radius: 30px;
        width: 10px;
        height: 10px;
    }

    .slick-dots .slick-active{
        background: #FFFFFF;
        border-radius: 30px;
    }

    .slick-prev{
        position: absolute;
        left: 0;
        top: 100%;
    }

    .slick-next {
        position: absolute;
        right: calc(100% - 130px);
        top: 100%;
    }

    .slick-prev:before, .slick-next:before{
        font-size: 29px;
    }

    .online-control .container{
        padding: 0 312px;
    }

    .online-control {
        background: linear-gradient(to bottom, #131313 35%, white 35%);
    }

    .online-control-video::after{
        width: 85px;
        height: 85px;
    }

    .online-control-video {
        margin-bottom: 97px;
        box-shadow: 0px 6px 20px 7px #0000001c;
    }

    .online-control-video::before{
        bottom: -62px;
    }

    .online-control-desc{
        color: #363636;
        text-align: center;
        font-size: 18px;
        width: 683px;
        line-height: 37px;
    }

    .online-control-form{
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .online-control-mobil {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 49px;
    }

    .online-form-item{
        display: flex;
        flex-direction: column;
        width: 231px;
    }

    .online-form-item:nth-child(1){
        margin-right: 58px;
    }

    .online-label-for-input{
        font-size: 13px;
        width: 231px;
        line-height: 21px;
        color: rgba(54, 54, 54, 0.5); 
       
    }

    .online-form-input{
        color: rgba(54, 54, 54, 0.5);
        border-bottom: 1px solid rgba(54, 54, 54, 0.5);
    }

    .online-form-input:nth-child(2){
        margin-bottom: 39px;
    }

    .online-form-input::placeholder{
        font-size: 14px;
        line-height: 23px;
        color: #363636;
    }

    .online-label-checkbox{
        font-size: 14px;
        line-height: 163.68%;
        color: #181818;
    }

    .form-btn{
        padding: 20px 75px;
        transform: translateY(0);
    }

    .repait-wrap{
        padding-bottom: 258px;
    }
    
    .type-of-repair-wrapper {
        display: flex;
    }

    .type-of-repair-title{
        font-size: 20px;
        line-height: 28px;
    }

    .repair-item{
        margin-right: 30px;
        margin-bottom: 0;
    }

    .repair-subtitle{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 13px;
    }

    .repair-advanturies{
        line-height: 27px;
    }

    .repair-desc{
        width: fit-content;
        padding: 25px 68px 49px 34px;
        right: 0;
        margin: auto;
        bottom: -50%;
    }

    .repair-desc-btn.btn{
        padding: 17px 16px;
        font-size: 18px;
        line-height: 25px;
    }
}

@media (min-width: 1920px)
{
    .repair-wrapper{
        background: url(../img/repair_big_bg.png) no-repeat;
        background-size: cover;
        transition: 0.2s;
    }
}