/*Секция хедера*/
.header{
    background-color: #000;
    font-family: 'Nunito Sans Regular';
    font-size: 11px;
    line-height: 15px;
    height: 57px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #E3B873;
    text-transform: uppercase;
}

.nav-menu{
    display: none;
}

.button-block{
    display: none;
}

/*Секция про ремонт. Первая секция*/
.repair-wrapper{
    height: 476px;
    background: url(../img/repair_bg.png) no-repeat;
    background-size: cover;
}

.repair-title{
    font-family: 'Yeseva One Regular'; 
    text-transform: uppercase;
    font-size: 23px;
    line-height: 132.83%;
    margin-bottom: 16px;
}

.repair-title span{
    color: #E3B873;
}

.repair-block p{
    font-size: 14px;
    line-height: 135.84%;   
    height: 94px;
    margin-bottom: 32px;
}

.btn{
    width: 100%;
    padding: 19px 70px;
}

.repair-btn{
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: none;
    margin-top: 26px;
}

/*Секция со слайдером про завершенный ремонт*/
.conpleted-block{
    display: block;
}

.conpleted-title{
    font-size: 22px;
    font-family: 'Yeseva One Regular'; 
    color: #E3B873;
    line-height: 138.6%;
    text-align: center;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 22px;
}

.conpleted-wrapper>p{
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 36px;
}

.copleted-slider{
    position: relative;
}

.copleted-slider-item img{
    width: 100%;
    margin-bottom: 37px;
}

.completed-data {
    display: flex;
    flex-wrap: wrap;
}

.colplated-data-item{
    width: 50%;
    margin-bottom: 27px;
}

.colplated-data-item>h4{
    font-family: 'Yeseva One Regular'; 
    font-size: 14px;
    line-height: 138.6%;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 11px;
}

.colplated-data-item>p{
    font-size: 11px;
    line-height: 135.84%;
}

.slick-prev{
    display: none;
}

.arrow_prev{
    background-color: #E3B873;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: calc((339px / 2) - 60px);
    left: 14px;
    z-index: 2;
}

.arrow_prev img{
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
}

.slick-next{
    display: none;
}

.arrow_next{
    background-color: #E3B873;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: calc((339px / 2) - 60px);
    right: 14px;
    z-index: 2;
}

.arrow_next img{
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
}

@media (min-width: 1440px)
{
    .header{
        height: 83px;
    }
    
    .phone{
        margin-right: -100px;
    }

    .phone a{
        color: #E3B873;
        text-decoration: underline;
    }

    .nav-menu{
        display: block;
        width: 38%;
    }

    .nav-menu ul{
        display: flex;
        justify-content: space-between;
    }
    
    .button-block{
        display: block;
    }

    .header-btn{
        color: #fff;
    }

    /*Секция про ремонт. Первая секция*/
    .repair-wrapper{
        height: 707px;
    }

    .repair-title{
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 19px;
    }

    .repair-block{
        width: 50%;
    }

    .repair-block p{
        font-size: 22px;
        line-height: 36px;
        height: auto;
        margin-bottom: 41px;
    }

    .btn{
        width: 207px;
        height: 51px;
        padding: 19px 42px;
        font-size: 11px;
        line-height: 15px;
    }

    .repair-btn{
        margin-top: 0;
        margin-left: 20px;
    }

    /*Серкция со слайдером*/

}